@font-face {
    font-family: 'GyeonggiBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html{
    scroll-behavior: smooth;
}
head,body{
    width: 100%;
    height: 100%;
}
li {
    list-style: none;
}
a{
    text-decoration: none;
}
.menu_cont{
    width: 100%;
    height: 100%;
    
}
.menu_pop{
    position: fixed;
    z-index: 100000;
}
.menu_btn{
    top: 40px;
    right: 50px;
    color:#0b3102;
    font-size: 120px;
    cursor: pointer;
    position: fixed;
}

.close_btn{
    top: 40px;
    right: 60px;
    color:#82b561;
    font-size: 120px;
    cursor: pointer;
    position: fixed;
    display: none;
}
.cont{
    width: 100%;
    height: 1080px;
    position: absolute;
    text-align: center;
    z-index: 99999;
    background: #000;
    opacity: 80%;
    display: none;
}
.nav{
    position: absolute;
    line-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 20%;
    left: 45%;
}
.nav a{
    font-family: 'GyeonggiBatang';
    font-size: 24px;
    font-weight: bold;
    color: #ebf2e1;
}
.nav a:hover{
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    color: #82b561;
}
/* menu_cont */
/* ***menu_cont media*** */
@media (max-width: 767px){
    
    .menu_btn{
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        font-size: 30px;
        right: 20px;
    }
    .close_btn{
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        font-size: 30px;
        right: 25px;
    }
    .nav{
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        top: 10%;
        left: 37%;
    }
    .nav>li>a{
        font-size: 16px;
    }
}
/* ***menu_cont meida end*** */
/* menu_cont end */
#section01{
    width: 100%;
    height: 100%;
    display: flex;
}
.container1{
    width: 100%;
    height: 1080px;
    background: url(../images/main-bgimg2.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}
.main_logo img{
    width: 528px;
    height: 314px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}
.section01_opacity{
    width: 100%;
    height: 1080px;
    background-color: #fffaee;
    opacity: 40%;
    position: absolute;
    z-index: 2;
}
@media (max-width: 767px){
    .main_logo img{
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        width: 264px;
        height: 157px;
    }
}
/* section01 end */
#section02{
    width: 100%;
    height: 100%;
    background-color: #fffaee;
}
#section02 strong{
    color: #0b3102;
}
.container2{
    width: 100%;
    height: 1080px;
}
.sec2_cont1{
    display: flex;
    position: relative;
    top: 120px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.sec2_txt1{
    display: flex;
    font-size: 24px;
    font-family: 'GyeonggiBatang';
    color: #82b561;
}
.sec2_txt1 img{
    width: 30px;
    height: 30px;
    padding: 0 12px 0 0;
}
.sec2_txt2{
    font-size: 24px;
    font-family: 'GyeonggiBatang';
    color: #0b3102;
    display: flex;
}
.sec2_txt2 img{
    padding: 32px 0 0 12px;
    width: 48px;
    height: 48px;
}
/* sec2_cont1 */
.sec2_cont2{
    position: relative;
    top: 280px;
    display: flex;
}
.sec2_box{
    position: absolute;
    left: 340px;
    width: 418px;
    height: 418px;
    border: 2px solid #0b3102;
}
.sec2_img img{
    position: absolute;
    display: block;
    top: 30px;
    left: 370px;
    width: 420px;
    height: 420px;
}
.img2{
    display: none;
}
.img3{
    display: none;
}
.sec2_sub img{
    position: relative;
    top: 58px;
    left: 1200px;
    width: 420px;
    height: auto;
}
/* sec2_cont2 */

/* sec2 media */

@media (max-width: 767px){
    .sec2_box{
        display: none;
    }
    .sec2_cont1{
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        top: 60px;
    }
    .sec2_txt1{
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        font-size: 20px;
    }
    .sec2_txt1 h2{
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        padding-top: 6px;
    }
    .sec2_txt2{
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        font-size: 20px;
    }
    .sec2_txt2>h1{
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        padding-top: 10px;
    }
    .sec2_img img{
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        top: -180px;
        left: 30px;
        border: 2px solid #0b3102;
    }
    .sec2_sub img{
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        top: 280px;
        left: 30px;
        width: 424px;
    }
    .sec2_cont2{
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        flex-direction: column;
    }
}

/* sec2 media end */

/* section02 end */
#section03{

    background-color: #ebf2e1;
}
.swiper-slide h1{
    font-family: 'GyeonggiBatang';
    font-size: 28px;
    font-weight: 900;
    color: #0b3102;
}
.swiper-slide h2{
    font-family: 'GyeonggiBatang';
    font-size: 20px;
    color: #82b561;
}
.container3{
    width: 100%;
    height: 1080px;
}
.sec3-txt h1{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 120px;
    margin: 0 auto;
    z-index: 999999;
    font-family: 'GyeonggiBatang';
    color: #0b3102;
    font-size: 48px;
}
.swiper-container {
    width: 100%;
    height: 1000px;

  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #ebf2e1;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
.slider1{
    width: 100%;
    height: auto;
    background-color: #ebf2e1;
    display: flex;
    flex-direction: column;
}
.sec3_line1{
    width: 80%;
    height: auto;
    display: flex;
    text-align: left;
}.sec3_align1{
    width: 532px;
    display: flex;
    justify-content: space-between;
}
.sec3_main_img1{
    width: 256px;
    height: 256px;
    background: url(../images/section3_main_img1.jpg) top center no-repeat;
    background-position: center;
    background-size: cover;
}
.sec3_main_img2{
    width: 256px;
    height: 256px;
    background: url(../images/section3_main_img2.jpg) top center no-repeat;
    background-position: center;
    background-size: cover;
}
.sec3_txt_box1{
    line-height: 32px;
    padding: 60px 0 0 40px;
}

.sec3_line2{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    text-align: right;
}.sec3_align2{
    width: 532px;
    display: flex;
    justify-content: space-between;
}
.sec3_main_img3{
    width: 256px;
    height: 256px;
    background: url(../images/section3_main_img3.jpg) top center no-repeat;
    background-position: center;
    background-size: cover;
}
.sec3_main_img4{
    width: 256px;
    height: 256px;
    background: url(../images/section3_main_img4.jpg) top center no-repeat;
    background-position: center;
    background-size: cover;
}
.sec3_txt_box2{
    line-height: 32px;
    padding: 60px 40px 0 0px;
}
/* slider1 end */
.slider2{
    width: 100%;
    height: auto;
    background-color: #ebf2e1;
    display: flex;
    flex-direction: column;
    
}
.sec3_line3{
    width: 80%;
    height: auto;
    display: flex;
    text-align: left;
}.sec3_align3{
    width: 532px;
    display: flex;
    justify-content: space-between;
}
.sec3_main_img5{
    width: 256px;
    height: 256px;
    background: url(../images/section3_main_img5.jpg) top center no-repeat;
    background-position: center;
    background-size: cover;
}
.sec3_main_img6{
    width: 256px;
    height: 256px;
    background: url(../images/section3_main_img6.jpg) top center no-repeat;
    background-position: center;
    background-size: cover;
}
.sec3_txt_box3{
    line-height: 32px;
    padding: 60px 0 0 40px;
}
.sec3_line4{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    text-align: right;
}.sec3_align4{
    width: 532px;
    display: flex;
    justify-content: space-between;
}
.sec3_main_img7{
    width: 256px;
    height: 256px;
    background: url(../images/section3_main_img7.jpg) top center no-repeat;
    background-position: center;
    background-size: cover;
}
.sec3_main_img8{
    width: 256px;
    height: 256px;
    background: url(../images/section3_main_img8.jpg) top center no-repeat;
    background-position: center;
    background-size: cover;
}
.sec3_txt_box4{
    line-height: 32px;
    padding: 60px 40px 0 0px;
}
/* slide2 end */
@media (max-width: 767px){
    .sec3-txt h1{
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        font-size: 40px;
        top: 68px;
    }
    .sec3_line1{
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .sec3_align1{
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        padding-left: 20px;
        width: 402px;
        height: auto;
    }
    .sec3_main_img1{
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        width: 196px;
        height: 196px;
    }
    .sec3_main_img2{
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        width: 196px;
        height: 196px;
    }
    .sec3_txt_box1{
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        padding: 0 0px 18px;
    }
    
    .sec3_line2{
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }
    .sec3_align2{
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        padding-left: 20px;
        width: 402px;
        height: auto;
    }
    .sec3_main_img3{
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        width: 196px;
        height: 196px;
    }
    .sec3_main_img4{
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        width: 196px;
        height: 196px;
    }
    .sec3_txt_box2{
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        padding: 0 0 18px;
    }
    .sec3_line3{
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .sec3_align3{
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        padding-left: 20px;
        width: 402px;
        height: auto;
    }
    .sec3_main_img5{
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        width: 196px;
        height: 196px;
    }
    .sec3_main_img6{
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        width: 196px;
        height: 196px;
    }
    .sec3_txt_box3{
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        padding: 0 0px 18px;
    }

    .sec3_line4{
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }
    .sec3_align4{
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        padding-left: 20px;
        width: 402px;
        height: auto;
    }
    .sec3_main_img7{
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        width: 196px;
        height: 196px;
    }
    .sec3_main_img8{
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        width: 196px;
        height: 196px;
    }
    .sec3_txt_box4{
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        padding: 0 0 18px;
    }
    .swiper-button-next{
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        display: none;
    }
    .swiper-button-prev{
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        display: none;
    }
}
/* section3 media end */
/* section3 end */
#section04{
    width: 100%;
    height: 100%;
}

.container4{
    height: 1080px;
    background: #fffaee;
}
/* section4 hidden area */
.sec4-hidden{
    width: 100%;
    height: 1080px;
    background: rgba(0,0,0,0.9);
    display: none;
    position: absolute;
    z-index: 9;
}
.sec4-closebtn{
    width: 60px;
    height: 60px;
    position: relative;
    top:74px;
    left: 1770px;
    cursor: pointer;
}

.sec4-pop{
    width: 1200px;
    height: 800px;
    margin: 0 auto;
    position: relative;
    top: 60px
}
.sec4-pop img{
    width: 1200px;
    height: 800px;
}
.sec4-h-1{
    display: none;
}
.sec4-h-2{
    display: none;
}
.sec4-h-3{
    display: none;
}
.sec4-h-4{
    display: none;
}.sec4-h-5{
    display: none;
}
.sec4-h-6{
    display: none;
}
.sec4-h-7{
    display: none;
}
.sec4-h-8{
    display: none;
}
.sec4-h-9{
    display: none;
}
.sec4-h-10{
    display: none;
}
/* section4 hidden area end */

.sec4-txt{
    position: relative;
    display: flex;
    justify-content: center;
    top: 120px;
}
.sec4-txt h1{
    margin: 0;
    font-family: 'GyeonggiBatang';
    font-size: 48px;
    color: #0b3102;
}
.sec4-images{
    width: 1640px;
    position: relative;
    top: 220px;
    left: 10px;
    margin: 0 auto;
}
.sec4-images img{
    width: 300px;
    height: 300px;
    padding:12px 10px;
    cursor: pointer;
}

@media (max-width: 767px){
    .sec4-txt h1{
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        font-size: 40px;
    }
    .sec4-txt{
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        top: 60px;
    }
    .sec4-images img{
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        width: 200px;
        height: 200px;
    }
    .sec4-images{
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        width: 560px;
        height: auto;
        padding: 0;
        margin: 0;
        left: 20px;
        top:100px
    }
    .sec4-hidden{
        width: 100%;
        height: 1080px;
    }
    .sec4-closebtn{
        width: 30px;
        height: 30px;
        top:420px;
        left: 430px;
    }
    
    .sec4-pop{
        width: 300px;
        height: 300px;
        top: 420px
    }
    .sec4-pop img{
        width: 300px;
        height: 300px;
    }
    .sec4-9,.sec4-10{
        display: none;
    }
}
/* section04 media end */
/* section04 end */
#section05{
    width: 100%;
    height: 100%;
}
.container5{
    width: 100%;
    height: 1080px;
    background: #ebf2e1;
}
.sec5-txt{
    position: relative;
    display: flex;
    top: 120px;
    justify-content: center;
}
.sec5-txt h1{
    margin: 0;
    font-family: 'GyeonggiBatang';
    font-size: 48px;
    color: #0b3102;
}
/* section5 title */

.map-container{
    top: 200px;
    position: relative;
    width: 1240px;
    height: 540px;
    border: .5px solid #0b3102;
    margin: 0 auto;
}
#map{
    width: 1200px;
    height: 500px;
    position: relative;
    top: 20px;
    left: 20px;
}
/* 지도 */

.sec5-info{
    width: 1200px;
    height: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 0 auto;
    top: 200px;
    padding-left: 180px;
}
/* 하단영역 크기조절 */
.sec5-address{
    width: 380px;
    height: auto;
    font-family: 'GyeonggiBatang';
    color: #0b3102;
    padding-top: 24px;
    
}
.sec5-address h1{
    font-size: 20px;
    
}
.sec5-address h2{
    padding-top: 10px;
    padding-right: 150px;
    line-height: 24px;
}
/* section5 주소 */
.sec5-time{
    width: 380px;
    height: auto;
    padding-top: 24px;
}
.sec5-open-txt1 h1{
    color: #0b3102;
    font-family: 'GyeonggiBatang';
    font-size: 20px;
}
.sec5-open-txt2{
    padding-top:12px;
    color: #0b3102;
    line-height: 26px;
    font-family: 'GyeonggiBatang';
}
/* section5 운영시간 */
.sec5-bus{
    width: 380px;
    height: auto;
}
.sec5-come h1{
    font-family: 'GyeonggiBatang';
    color: #0b3102;
    font-size: 20px;
    padding-top: 24px;
}
.sec5-bus1{
    position: relative;
    top: 16px;
    display: flex;
    line-height: 24px;
}
.sec5-bus1 h2{
    
    padding-left: 16px;
    font-family: 'GyeonggiBatang';
    color: #0b3102;
}
.sec5-bus2{
    position: relative;
    top: 46px;
    display: flex;
    line-height: 24px;
}
.sec5-bus2 h2{
    
    padding-left: 16px;
    font-family: 'GyeonggiBatang';
    color: #0b3102;
}
.sec5-bus img{
    width: 49px;
    height: 40px;
    padding-top: 2px;
}
/* section5 대중교통 */
.sec5-bottom{
    font-size: 8px;
    color: #0b3102;
    font-family: 'GyeonggiBatang';
    display: flex;
    justify-content: center;
    position: relative;
    top: 280px;
}
/* section5 하단영역 */

/* section5 media query */
@media (max-width:767px){
    .sec5-txt{
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        top: 60px;
    }
    .sec5-txt > h1{
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        font-size: 40px;
    }
    .sec5-info{
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        width: 1200px;
        height: auto;
        display: flex;
        justify-content: space-between;
        position: relative;
        margin: 0 auto;
        top: 200px;
        padding-left: 180px;
    }
    .map-container{
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        top: 120px;
        width: 420px;
        height: 420px;
        border: .5px solid #0b3102;
    }
    #map{
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        width: 380px;
        height: 380px;
    }
    .sec5-info{
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        width: 420px;
        top: 120px;
        padding-left: 20px;
    }
    .sec5-address{
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        width: 200px;
    }
    .sec5-address h2{
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        padding-right: 0px;
    }
    .sec5-time{
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        width: 200px;
    }
    .sec5-bus{
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        display: inline-block;
        position: absolute;
        width: 100%;
        top: 130px;
    }
    .sec5-bus2{
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        top: 30px;
    }
    .sec5-bottom{
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        font-size: 6px;
        top: 420px;
    }
}
/* section5 media end */