@font-face {
    font-family: 'GmarketSansMedium'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
    format('woff'); 
    font-weight: normal; 
    font-style: normal; 
}
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    font-size: 16px;
}
#fullpage{
    width: 100%;
    height: auto;
    position: relative;
}
.main-section{
    width: 100%;
    position: relative;
}
.sonata-img{
    width: 100%;
    height: 100vh;
    background: url('../images/sonata-1.jpg');
    background-position: bottom center;
    background-size: cover;
    position: relative;
}
.logo{
    position: absolute;
    top: 3%;
    left: 36%;
    z-index: 999;
}
.logo img{
    width: 36%;
}
.text-item{
    width: 100%;
    height: auto;
    padding: 5% 0;
    background-color: rgba(0,0,0,0.7);
    color: white;
    font-family: 'GmarketSansMedium';
    position: absolute;
    top:25%;
}
.main-title>p{
    font-size: 36px;
    margin-bottom: 0;
}
.main-title strong{
    font-size: 36px;
    color: #4476e0;
}
.sub-title{
    margin-top: 2%;
}
.sub-title strong{
    font-size: 48px;
}
.main-foot{
    margin-top: 4%;
}
.main-foot>p{
    font-size: 12px;
}
/* section01 */
#section2{
    position: relative;
}
.section02-bg{
    width: 100%;
    height: 100vh;
    background: #f7faff;
}
.section02-title{
    font-family: 'GmarketSansMedium';
    margin-top: 100px;
    font-size: 48px;
    color: #000;
    font-weight: bold;
}
.tab-car-img{
    color: #000;
}

.tab-car-img img{
    margin-top: -60px;
    width: 60%;
}

.section02-sub{
    margin-top: -150px;
}
.tab-car-text{
    margin-top: 1%;
}

.tab-car-color-text>ul>li{
    list-style: none;
    position: relative;
    border-radius: 50px;
    border: 2px solid rgba(0,0,0,0.2);
    width: 40px;
    height: 40px;
    margin: 20px 10px 10px 10px;
    cursor: pointer;
}
.tab-car-input{
    margin-top: 10%;
    font-family: 'GmarketSansMedium'; 
}
.tab-car-color-text>ul{
    display: flex;
    justify-content: center;
}
.wc9{
    background-color: #fffafa;
}
.r2t{
    background-color: #c0c0c0;
    opacity: 0.4;
}
.nt2{
    background-color: #81868e;
    opacity: 0.4;
}
.t2g{
    background-color: #454a4e;
    opacity: 0.4;
}
.xb2{
    background-color: #2e3641;
    opacity: 0.4;
}
.nb9{
    background-color: #141418;
    opacity: 0.4;
}
.y2e{
    background-color: #a21825;
    opacity: 0.4;
}
#r2t,#nt2,#t2g,#xb2,#nb9,#y2e{
    display: none;
}
#r2t-t,#nt2-t,#t2g-t,#xb2-t,#nb9-t,#y2e-t{
    display: none;
}
/* section02 */
#section3{
    width: 100%;
    height: 1000px;
    background: #f5f8fe;
    position: relative;
}
#section3 .btn{
    padding: 0;
    width: 18px;
    height: 18px;
}
.section03-title{
    margin-top: 30px;
}
.section03-title>h1{
    font-weight: bold;
    font-family: 'GmarketSansMedium'; 
}
.section03-main{
    margin-bottom: 2%;
}
.section03-sub{
    font-size: 18px;
}
.section03-comment{
    font-size: 16px;
    margin-bottom: 3%;
}
.section03-modal{
    position: relative;
}
.section03-modal>img{
    width: 100%;
    height: 500px;
}
.modal-img{
    position: relative;
    z-index: 1;
}
.cushion{
    position: absolute;
    z-index: 5;
    top: 78%;
    left: 37%;
    background-color: #19b0f8;
    border-radius: 100%;
    box-shadow: 0 0 5px 3px #fff;
    -webkit-animation:cushion 0.8s ease-in-out infinite alternate;
    -moz-animation:cushion 0.8s ease-in-out infinite alternate;
    animation:cushion 0.8s ease-in-out infinite alternate;
}
@-webkit-keyframes cushion{
    0% {box-shadow: 0 0 0 #fff;}
    100% { box-shadow:  0 0 5px 3px #fff;}
}
@-moz-keyframes cushion{
    0% {box-shadow: 0 0 0 #fff;}
    100% { box-shadow:  0 0 5px 3px #fff;}
}
@keyframes cushion{
    0% {box-shadow: 0 0 0 #fff;}
    100% { box-shadow:  0 0 5px 3px #fff;}
}
.modal1{
    position: absolute;
    z-index: 99999;
}
/* modal1 */
.lamp{
    position: absolute;
    z-index: 5;
    top: 40.5%;
    left: 7%;
    background-color: #19b0f8;
    border-radius: 100%;
    box-shadow: 0 0 5px 3px #fff;
    -webkit-animation:lamp 0.8s ease-in-out infinite alternate;
    -moz-animation:lamp 0.8s ease-in-out infinite alternate;
    animation:lamp 0.8s ease-in-out infinite alternate;
}
@-webkit-keyframes lamp{
    0% {box-shadow: 0 0 0 #fff;}
    100% { box-shadow:  0 0 5px 3px #fff;}
}
@-moz-keyframes lamp{
    0% {box-shadow: 0 0 0 #fff;}
    100% { box-shadow:  0 0 5px 3px #fff;}
}
@keyframes lamp{
    0% {box-shadow: 0 0 0 #fff;}
    100% { box-shadow:  0 0 5px 3px #fff;}
}

/* modal2 */
.cover{
    position: absolute;
    z-index: 5;
    top: 29%;
    left: 80%;
    background-color: #19b0f8;
    border-radius: 100%;
    box-shadow: 0 0 5px 3px #fff;
    -webkit-animation:cover 0.8s ease-in-out infinite alternate;
    -moz-animation:cover 0.8s ease-in-out infinite alternate;
    animation:cover 0.8s ease-in-out infinite alternate;
}
@-webkit-keyframes cover{
    0% {box-shadow: 0 0 0 #fff;}
    100% { box-shadow:  0 0 5px 3px #fff;}
}
@-moz-keyframes cover{
    0% {box-shadow: 0 0 0 #fff;}
    100% { box-shadow:  0 0 5px 3px #fff;}
}
@keyframes cover{
    0% {box-shadow: 0 0 0 #fff;}
    100% { box-shadow:  0 0 5px 3px #fff;}
}

/* modal3 */
.sheet{
    position: absolute;
    z-index: 5;
    top: 85.2%;
    left: 26%;
    background-color: #19b0f8;
    border-radius: 100%;
    box-shadow: 0 0 5px 3px #fff;
    -webkit-animation:sheet 0.8s ease-in-out infinite alternate;
    -moz-animation:sheet 0.8s ease-in-out infinite alternate;
    animation:sheet 0.8s ease-in-out infinite alternate;
}
@-webkit-keyframes sheet{
    0% {box-shadow: 0 0 0 #fff;}
    100% { box-shadow:  0 0 5px 3px #fff;}
}
@-moz-keyframes sheet{
    0% {box-shadow: 0 0 0 #fff;}
    100% { box-shadow:  0 0 5px 3px #fff;}
}
@keyframes sheet{
    0% {box-shadow: 0 0 0 #fff;}
    100% { box-shadow:  0 0 5px 3px #fff;}
}

/* modal4 */
.section03-footer{
    margin-top: 2%;
    overflow: hidden;
}
.section03-footer img{
    width: 360px;
    height: 185px;
}
.section03-img{
    width: 100%;
    height: 185px;
    overflow: hidden;
}
.back-analog-curtains>img{
    transition: all 0.5s;
}
.back-analog-curtains>img:hover{
    transform: scale(1.2);
}
.back-auto-curtains>img{
    transition: all 0.5s;
}
.back-auto-curtains>img:hover{
    transform: scale(1.2);
}
.inner-sheet>img{
    transition: all 0.5s;
}
.inner-sheet>img:hover{
    transform: scale(1.2);
}
.section03-footer p{
    font-weight: bold;
    font-family: 'GmarketSansMedium'; 
    margin-top: 3%;
}
/* section03 */
#section4{
    width: 100%;
    height: 1000px;
    background-color: #f3f6fd;
    font-family: 'GmarketSansMedium'; 
}
.tab-margin{
    margin-top: 3%;
}
.section04-title>h1{
    font-weight: bold;
    margin-top: 6%;
}
#section4 img{
    width: 100%;
}
.sonata-text h2{
    font-size: 16px;
    margin-top: 1%;
    margin-left: 1%;
}
.nav-pills>li{
    width: 25%;
    margin: 0;
    display: inline-block;
}

#menu{
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 70;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    letter-spacing: 1px;
    font-size: 1.1em;
    display: flex;
}
a:hover {
    text-decoration: none;
    
}
#menu li{
    margin: 0 2rem;
    list-style: none;
}

#menu .active-menu a{
    color: #0049e5 !important;
    border-bottom: 2px solid #0049e5;
}

.color-active::after{
    content: "\f058";
    font-family: FontAwesome;
    position: absolute;
    top:-15px;
    right: -5px;
    color: #0049e5;
    z-index: 99999;
    font-size: 18px;
}
.car-warning{
    text-align: center;
    margin: -15px 0 30px;
}

.section5-title p{
    margin-top: 6%;
    font-size: 36px;
    font-weight: 500;
}
.section5-sub p{
    font-size: 24px;
    font-weight: 600;
}
.section5-caption p{
    font-size: 14px;
    letter-spacing:-1px;
    color: #333
}