@font-face {
    font-family: 'GyeonggiBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
head,body{
    width: 100%;
    height: 100%;
}

li {
    list-style: none;
}
#section01{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('../images/main-bgimg2.jpg');
    background-position: center;
    background-size: cover;
    
}

.main_logo img{
    position: absolute;
    width: 30%;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.opacity_bg{
    position: absolute;
    width: 100%;
    height: 100vh;
    background:#fffaee;
    opacity: 50%;
    z-index: 2;
}
/* main-section end */
.menu_box{
    background-color: transparent;
    width: 100%;
    height: 100vh;
    
}
.menu-icon {
    top: 20px;
    right: 40px;
    font-size: 100px;
    position: fixed;
    color: #0b3102;
    z-index: 999;
    cursor: pointer;
}

.hidden-menu{
    display: none;
}
.closebox{
    top: 20px;
    right: 50px;
    font-size: 100px;
    position: fixed;
    color: #0b3102;
    z-index: 999;
    cursor: pointer;
}
.hidden-style{
    width: 100%;
    height: 100%;
    
}
.hidden-style li{
    width: 100%;
    height: 110px;
    font-family: 'GyeonggiBatang';
    font-size: 36px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hidden-style a{
    font-weight: 800;
    text-decoration: none;
    color: #000;
}
.hidden-style a:hover{
    color:#82b561;
    font-size: 40px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    
}
/* 메뉴박스 */
@media (max-width: 767px){
    .main_logo img{
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    width: 60%;
    }
    .menu-icon{
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    font-size: 50px;
    }
    .closebox{
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        font-size: 50px;
    }
    .hidden-style a{
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        font-size: 20px;
    }
    .hidden-style a:hover{
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        font-size: 28px;
    }     
    .navi li{
        display: none;
    }
    
}
/* section01 end */
#section02 {
    width: 100%;
    height: 108vh;
    background: #fffaee;
    display: flex;
}
.section02_style{
    width: 50%;
    padding: 240px 240px;
}
.sec2_box{
    position: absolute;
    width: 28rem;
    height: 28rem;
    border: 3px solid #0b3102; 
    display: flex;
}
.sec2_images{
    
    width: 28rem;
    height: 28rem;
    padding: 40px 0 0 40px;
    z-index: 5;
    position: relative;
}
.sec2_image1{
    background-image: url('../images/section2_main_img1.png');
    background-position: center;
    width: 100%;
    height: 100%;
}
.sec2_txt_box{
    width:50%;
    height: auto;
    padding-top: 460px;
}
.sec2_txt {
    font-size: 2rem;
    color: #82b561;
    font-family: 'GyeonggiBatang';
    display: flex;
}
.sec2_txt img{
    width: 40px;
    padding-right: 15px;
}
.sec2_txt_green{
    color: #0b3102;
}
.sec2_txt1{
    padding-top: 20px;
    padding-left: 50px;
    font-size: 4rem;
    font-family: 'GyeonggiBatang';
    color:#0b3102;
}
.sec2_txt1 img{
    width: 50px;
    
    padding-left: 15px;
}
/* section02 html end */
@media (max-width: 767px){
    #section02{
        padding-bottom: 100px;
        flex-direction: column;
    }
    .sec2_box{
        display: none;
    }
    .section02_style{
        padding: 0;
    }
    .sec2_images{
        width: 24rem;
        height: 24rem;
    }
    .sec2_txt_box{
        padding: 0;
    }
    .sec2_txt{
        font-size: 1.5rem;
    }
    .sec2_txt img{
        width: 30px;
    }
    .sec2_txt1{
        padding-top: 20px;
        font-size: 3rem;
    }
    .sec2_txt1 img{
        padding-left: 7.5px;
        width: 36px;
    }
}
/* section02 end */
#section03 {
    width: 100%;
    height: 100vh;
    background: #ebf2e1;
    font-family: 'GyeonggiBatang';
}
#section03 h1{
    font-size: 24px;
    font-weight: bold;
    color: #0b3102;
}
#section03 h2{
    font-size: 1.3em;
    font-weight: 700;
    line-height: 1.5em;
    padding-top: 20px;
    color:#82b561;
}
.swiper-container {
    width: 100%;
    height: 100%;

  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #ebf2e1;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
.slider1{
    width: 860px;
    height: 480px;
    flex-direction: column;
    padding-top: 120px;
}
.sec3_line1{
    width: 1440px;
    text-align: left;
    display: flex;
}
.sec3_line2{
    width: 1440px;
    text-align: right;
    display: flex;
    justify-content: flex-end;
}
.sec3_line3{
    width: 1440px;
    text-align: left;
    display: flex;
}
.sec3_line4{
    width: 1440px;
    text-align: right;
    display: flex;
    justify-content: flex-end;
}
.sec3_main_img1{
    width: 296px;
    height: 296px;
    background: url('../images/section3_main_img1.jpg') top center no-repeat;
    background-size: cover;
    background-position: center;
    display: inline-block;
}
.sec3_main_img2{
    width: 296px;
    height: 296px;
    background: url('../images/section3_main_img2.jpg') top center no-repeat;
    background-size: cover;
    display: inline-block;
}
.sec3_main_img3{
    width: 296px;
    height: 296px;
    background: url('../images/section3_main_img3.jpg') top center no-repeat;
    background-size: cover;
    display: inline-block;
}
.sec3_main_img4{
    width: 296px;
    height: 296px;
    background: url('../images/section3_main_img4.jpg') top center no-repeat;
    background-size: cover;
    display: inline-block;
}
.slider2{
    width: 860px;
    height: 480px;
    flex-direction: column;
    padding-top: 120px;
}

.sec3_main_img5{
    width: 296px;
    height: 296px;
    background: url('../images/section3_main_img5.jpg') top center no-repeat;
    background-size: cover;
    display: inline-block;
}
.sec3_main_img6{
    width: 296px;
    height: 296px;
    background: url('../images/section3_main_img6.jpg') top center no-repeat;
    background-size: cover;
    display: inline-block;
}
.sec3_main_img7{
    width: 296px;
    height: 296px;
    background: url('../images/section3_main_img7.jpg') top center no-repeat;
    background-size: cover;
    display: inline-block;
}
.sec3_main_img8{
    width: 296px;
    height: 296px;
    background: url('../images/section3_main_img8.jpg') top center no-repeat;
    background-size: cover;
    display: inline-block;
}
.sec3_align1{
    width: 612px;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.sec3_align2{
    width: 612px;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.sec3_align3{
    width: 612px;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.sec3_align4{
    width: 612px;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.sec3_txt_box1{
    padding: 100px 40px;

    display: inline-block;
}
.sec3_txt_box2{
    padding: 100px 40px;
    display: inline-block;
}
.sec3_txt_box3{
    padding: 100px 40px;
    display: inline-block;
}
.sec3_txt_box4{
    padding: 100px 40px;
    display: inline-block;
}
/* section03 html end */

/* section03 media query end */
